.header {
    background: $main-dark;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include headerPadding;
    }


    &__logo {
        width: 45px;
        height: 45px;
        object-fit: cover;
    }


    &__phone {
        display: flex;
        align-items: center;
        gap: 10px;

        &-number {
            text-wrap: nowrap;
        }
    }
}

@media (max-width: 425px) {

    .header {
        &__inner {
            column-gap: 20px;
        }

        &__phone {
            margin-left: auto;

            &-number {
                display: none;
            }

        }

    }

}