.nav {
    &__list {
        display: flex;
        column-gap: 40px;
    }

    &__item {
        position: relative;

        &--dropdown:hover .nav__dropdown,
        &--dropdown .nav__dropdown:hover {
            display: block;
        }

        &--dropdown:hover .nav__link-arrow {
            transform: rotate(180deg);
        }

        &--dropdown:hover .nav__link {
            color: $main-accent;
        }

        &--second_dropdown {
            position: relative;

            &:hover .nav__sub-dropdown_wrapper {
                display: block;
            }

            .nav__sub-dropdown-wrapper {
                display: flex;


                .nav__sub-dropdown-link {
                    display: inline-block;
                    align-items: center;
                    column-gap: 5px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    max-width: 300px;
                }

                .nav__dropdown-link-arrow {
                    transition: all .3s ease-in-out;
                }
            }

            &:hover .nav__dropdown-link-arrow {
                transform: rotate(90deg);
            }
        }

    }

    &__link {
        @include defaultPadding;
        @include fsz18;
        display: flex;
        align-items: center;
        column-gap: 5px;
        white-space: nowrap;
        transition: all .3s ease-in-out;


        &-arrow {
            width: 8px;
            height: 6px;
            transition: all .3s ease-in-out;
        }

        &:hover {
            color: $main-accent;
        }
    }

    &__dropdown {
        display: none;
        position: absolute;
        background: rgb(37, 40, 48);
        top: 40px;
        left: 0;
        width: 320px;
        border-radius: 0px 0px 8px 8px;

        &-link {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 300px;
        }

        &::before {
            content: '';
            position: absolute;
            top: -14px;
            left: 40px;
            width: 28px;
            height: 14px;
            background: url('/public/drop-arrow.svg') center/cover no-repeat;
            z-index: 1;
        }

        &-item {
            @include defaultPadding;
            @include fsz16;
            display: block;

            &:hover {
                background: $main-dark;
            }

            &--sub-dropdown:hover .nav__sub-dropdown {
                display: block;
            }

            &--sub-dropdown:hover .nav__dropdown-link-arrow {
                transform: rotate(90deg)
            }


            &--sub-dropdown {
                &-link {
                    @include fsz16;
                    padding: 10px;
                    display: block;
                    color: #333;
                    display: flex;
                    gap: 5px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    &:hover {
                        background: #f5f5f5;
                    }

                    &-arrow {
                        transition: all .3s ease-in-out;
                    }
                }
            }


            &:not(:first-child) {
                border: 1px solid rgba(255, 255, 255, 0.1);
            }

            &:last-child:hover {
                border-radius: 0 0 8px 8px;
            }

        }
    }

    &__sub-dropdown_wrapper {
        display: none;
        position: absolute;
        bottom: 0;
        left: 100%;
        padding-left: 40px;
    }

    &__sub-dropdown {
        background: rgb(37, 40, 48);
        border-radius: 8px;
        position: relative;
        transition: all .3s ease-in-out;

        &::before {
            content: "";
            position: absolute;
            top: 50px;
            left: -20px;
            width: 28px;
            height: 14px;
            background: url('/public/drop-arrow.svg') center / cover no-repeat;
            z-index: 1;
            transform: rotate(-90deg);

        }

        &-item {
            @include defaultPadding;
            white-space: nowrap;
            z-index: 3;
            position: relative;

            &:hover {
                background-color: $main-dark;
            }

            &:first-child {
                border-radius: 8px 8px 0 0;
            }

            &:last-child {
                border-radius: 0 0 8px 8px;
            }

            &-refer {
                @include defaultPadding;

                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: flex;
                align-items: center;
                column-gap: 5px;
                transition: all .3s ease-in-out;

                &-arrow {
                    width: 8px;
                    height: 6px;
                    transition: all .3s ease-in-out;
                }
            }

        }
    }
}


@media (max-width: 1220px) {
    .nav {
        &__list {
            column-gap: 10px;
        }
    }
}

@media (max-width: 1024px) {
    .nav {
        &__list {
            column-gap: 5px;
        }
    }
}

@media (max-width: 768px) {
    .nav {
        display: none;

        &__list {
            column-gap: 10px;
        }
    }
}